<div class="tophalf">
	<div class="storeimage">
		<img src="images/store-inside.jpg">
	</div>
	<div class="info">
		<h3>Contact Us!</h3>
		<ul>
			<li>Address</li>
			<li>123 Fake Street</li>
			<li>New York, NY 10016</li>
			<li>Phone</li>
			<li>(555)555-555</li>
			<li>Email:</li>
			<li>info@store.com</li>
		</ul>
	</div>
</div>
<div class="bottomhalf">
	<h2>Send Us Feedback!</h2>
	<form method="POST" action="/form">   
		<label for="name">Name:</label> 
		<br>  
		<input type="text" name="name">
		<br>    
		<label for="email">Email:</label>
		<br>   
		<input type="email" name="email">
		<br> 
		<label for="comments">Comments:</label>
		<br>
		<textarea rows="10" cols="50"></textarea>  
		<br>   
		<input type="submit"> 
	</form>
	<div>
		
	</div>
</div>