<div id="flyer1">
	<figure><a href=""></a></figure>

	<figure><a href="#"><img src="images/canned.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	<figure><a href="#"><img src="images/eggs.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	<figure><a href="#"><img src="images/rice.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	<figure><a href="#"><img src="images/vinegar.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
</div>




<div id="flyer2">
	
	<figure><a href="#"><img src="images/flipflops.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	<figure><a href="#"><img src="images/Chocolates.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	<figure><a href="#"><img src="images/canned.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	<figure><a href="#"><img src="images/tomato.jpeg"></a><figcaption><a href="#">Text</a></figcaption></figure>
</div>

<div id="flyer3">
	<figure><a href="#"><img src="images/sweet_peepers.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	<figure><a href="#"><img src="images/flipflops.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	<figure><a href="#"><img src="images/Chocolates.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	<figure><a href="#"><img src="images/apple.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
</div>