<!-- <div id="image_wraper"> -->
<div id="clock"></div>
<h1>Today's flyer</h1>
<div id="image_wraper">
	<div id="flyer1">
		<figure><a href=""></a></figure>

		<figure><a href="#"><img src="images/canned.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
		<figure><a href="#"><img src="images/eggs.jpeg"></a><figcaption><a href="#">Text</a></figcaption></figure>
		<figure><a href="#"><img src="images/rice.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
		<figure><a href="#"><img src="eggs.jpeg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	</div>




	<div id="flyer2">
		
		<figure><a href="#"><img src="images/eggs.jpeg"></a><figcaption><a href="#">Text</a></figcaption></figure>
		<figure><a href="#"><img src="images/Chocolates.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
		<figure><a href="#"><img src="images/canned.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
		<figure><a href="#"><img src="images/tomato.jpeg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	</div>

	<div id="flyer3">
		<figure><a href="#"><img src="images/file0001861557177.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
		<figure><a href="#"><img src="images/flipflops.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
		<figure><a href="#"><img src="images/Chocolates.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
		<figure><a href="#"><img src="images/apple.jpg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	</div>
</div>