<div>
	<img src="">
</div>
<div>
	<h2>Hot Products</h2>
</div>
<div>
	<figure><a href=""><img src=""></a><figcaption><a href="">Text</a></figcaption></figure>
	<figure><a href=""><img src=""></a><figcaption><a href="">Text</a></figcaption></figure>
	<figure><a href=""><img src=""></a><figcaption><a href="">Text</a></figcaption></figure>
</div>