

<div class="wheat">
	<img src="images/plant.jpeg">
</div>
<div class="products">
	<h2>Hot Products</h2>
</div>
<div id="home">
	<figure><a href="#"><img src="images/blueberries.jpeg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	<figure><a href="#"><img src="images/string_beans.jpeg"></a><figcaption><a href="#">Text</a></figcaption></figure>
	<figure><a href="#"><img src="images/tomato.jpeg"></a><figcaption><a href="#">Text</a></figcaption></figure>
</div>