<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="Styles/css.css">
	<title>Grocery Store</title>
</head>
<body>
		<header>
			<h1>Grocery Store</h1>
			<h4>Groceries at your fingertips!</h4>
			<nav>
				<ul>
					<li>Recipes</li>	
					<li>Today's Flyer</li>
					<li>About Us</li>
				</ul>
			</nav>
		</header>
	<div id="wrapper">
	
<%= yield %>

	</div>
	<footer>
		<ul>
			<li><a href=""><img src=""></a></li>
			<li><a href=""><img src=""></a></li>
			<li><a href=""><img src=""></a></li>
		</ul>
	</footer>
</body>
</html>