

<div class="search">
<h3>Search for yummy recipes!</h3>
	<form action='/search' method="get"></form>
	<input></input>
	<button>Search!</button>
</div>

</head>
<body>
<h1>Featured Recipes</h1>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Tomato Soup</a></li>
    <li><a href="#tabs-2">Cheesy Hash Browns</a></li>
    <li><a href="#tabs-3">Delicous Chocolate Cake</a></li>
  </ul>
  <div id="tabs-1">
  	<h2>Tomato Soup</h2>
    <img src="images/tomatosoup.jpg">
    <h3>Ingredients</h3>
    <ul>
    	<li>1 can of Tomatoes</li>
    	<li>3/4 cup of extra virgin olive oil</li>
    	<li>Salt and Pepper</li>
    	<li>1 stalk celery, diced</li>
    	<li>1 small carrot, diced</li>
    	<li>1 yellow onion, diced</li>
    	<li>2 cloves of garlic, minced</li>
    	<li>1 cup chicken broth</li>
    	<li>1 bay leaf</li>
    	<li>2 tablespoons butter</li>
    	<li>1/4 cup chopped fresh basil</li>
    	<li>1/2 cup heavy cream, optional</li>
    </ul>
    <h3>Directions</h3>
    <p>Preheat oven to 450 degrees F.</p>
    <p>Strain the chopped canned tomatoes, reserving the juices, and spread onto a baking sheet, season with salt and pepper, to taste, drizzle with 1/4 cup of the olive oil and roast until caramelized, about 15 minutes.</p>
    <p>Meanwhile, in a saucepan, heat remaining olive oil over medium-low heat. Add the celery, carrot, onion and garlic, cook until softened, about 10 minutes. Add the roasted chopped canned tomatoes, reserved tomato juices, chicken broth, bay leaf and butter. Simmer until vegetables are very tender, about 15 to 20 minutes. Add basil and cream, if using. Puree with a hand held immersion blender until smooth.</p>
    <p>Recipe courtesy of Michael Chiarello</p>
  </div>
  <div id="tabs-2">
   <img src="images/potatoesdish.JPG">
   <h2>Cheesy Hash Browns</h2>
   <h3>Ingredients</h3>
    <ul>
    	<li>1 package Shredded Hash Browns</li>
    	<li>1 can cream of chicken soup</li>
    	<li>2 cups shredded chedder cheese</li>
    	<li>3/4 cup sour cream</li>
    	<li>1/4 cup chopped onion</li>
    	<li>1/4 cup butter</li>
    </ul>
    <h3>Topping Ingredients</h3>
    <ul>
    	<li>1 1/2 cups corn flakes</li>
    	<li>2 tablespoons of butter</li>
    </ul>
    <h3>Directions</h3>
    <p>Preheat oven to 350 degrees F. Spray 2 quart glass baking dish with nonstick spray.</p>
    <p>In large bowl combine all hash brown ingredients; mix well. Spread into prepared baking dish.</p>
		<p>In small bowl stir together topping ingredients. Spread topping evenly over hash browns. Bake 45 minutes or until hash browns are tender.</p>
		<p>*An 11x7-inch rectangular or 8-inch square baking dish can be used.</p>
  </div>
  <div id="tabs-3">
    <img src="images/chocolate-cake.jpg">
    <h2>Chocolate Cake</h2>
    <h3>Ingredrients</h3>
    <ul>
    	<li>cooking spray</li>
    	<li>1 cup unsweetened cocoa powder</li>
    	<li>2 1/2 cups of all-purpose flour</li>
    	<li>2 cups sugar</li>
    	<li>1 1/2 teaspoon baking powder</li>
    	<li>1 teaspoon salt</li>
    	<li>3 large eggs, at room temperature</li>
    	<li>3/4 vegetable oil</li>
    	<li>2 teaspoons vanilla extract</li>
    	<li>1/2 cup sour cream</li>
    </ul>
    <h3>Directions</h3>
    <p>Preheat the oven to 350 degrees F. Coat two 9-inch-round cake pans with cooking spray and line the bottoms with parchment paper.</p>
		<p>Whisk the cocoa powder and 1 1/2 cups boiling water in a medium bowl until smooth; set aside. Whisk the flour, sugar, baking powder, baking soda and salt in a large bowl until combined. Add the eggs, vegetable oil, sour cream and vanilla and beat with a mixer on medium speed until smooth, about 1 minute. Reduce the mixer speed to low; beat in the cocoa mixture in a steady stream until just combined, then finish mixing with a rubber spatula. (The batter will be thin.</p>
		<p>Divide the batter between the prepared pans and tap the pans against the counter to help the batter settle. Bake until a toothpick inserted into the middle comes out clean, 30 to 40 minutes. Transfer to racks and let cool 10 minutes, then run a knife around the edge of the pans and turn the cakes out onto the racks to cool completely. Remove the parchment. Trim the tops of the cakes with a long serrated knife to make them level, if desired.</p>
  </div>
</div>






